*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: red;

}
ul{
   
    display:flex;
}
ul li{
    list-style: none;
    margin: 0 13px;
}

table{
    border: 2px solid black;
}
body{
    display:flex;
    justify-content:center;
    align-item:center;
    align-items: ;
}
*{
    counter-reset: ;
    

}

